@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import "tailwindcss";

@theme {
  --font-instrument-serif: "Instrument Serif", serif;
  --color-primary: #ff6634;
  --color-secondary: #f9f2df;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

.shake-animation {
  animation: shake 0.2s ease-in-out 0s 2;
}
